<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property name="LOG_HOME" value="G:/TEMP/rocketmqlogs/" />
	
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<append>true</append>
		<encoder>
			<pattern>%p %d{yyyyMMddHHmmss} %c{2}.%M.%line[%t]: %X{tId}.%X{rId}.1 %replace(%msg){'\\s',' '}%n</pattern>
			<charset class="java.nio.charset.Charset">UTF-8</charset>
		</encoder>
	</appender>


	<logger name="RocketmqBroker" level="TRACE" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

	<logger name="RocketmqCommon" level="TRACE" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

	<logger name="RocketmqStore" level="TRACE" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

	<logger name="RocketmqStoreError" level="TRACE" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

	<logger name="RocketmqTransaction" level="TRACE" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

	<logger name="RocketmqRebalanceLock" level="TRACE" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

	<logger name="RocketmqRemoting" level="TRACE" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

	<logger name="RocketmqStats" level="TRACE" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>
	
	<logger name="net.openhft" level="debug" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
	
	<root level="DEBUG">
        <appender-ref ref="STDOUT" />
	</root>
</configuration>
