<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property name="LOG_HOME" value="${user.home}/logs/rocketmqlogs/" />
	<appender name="RocketmqNamesrvAppender" class="ch.qos.logback.core.ConsoleAppender">
		<append>true</append>
		<encoder>
			<pattern>%p %d{yyyyMMddHHmmss} %c{2}.%M.%line[%t]: %X{tId}.%X{rId}.1 %replace(%msg){'\\s',' '}%n</pattern>
			<charset class="java.nio.charset.Charset">UTF-8</charset>
		</encoder>
	</appender>

	<logger name="RocketmqNamesrv" additivity="false">
		<level value="INFO" />
		<appender-ref ref="RocketmqNamesrvAppender" />
	</logger>

	<logger name="RocketmqCommon" additivity="false">
		<level value="INFO" />
		<appender-ref ref="RocketmqNamesrvAppender" />
	</logger>

	<logger name="RocketmqRemoting" additivity="false">
		<level value="INFO" />
		<appender-ref ref="RocketmqNamesrvAppender" />
	</logger>

	<root>
		<level value="INFO" />
		<appender-ref ref="RocketmqNamesrvAppender" />
	</root>
</configuration>
